{% extends 'markdown/index.md.j2' %}
{% block codecell %}
``` python
{{cell.source}}
```
{% endblock codecell %}

{%- block traceback_line -%}
```output
{{ line.rstrip() | strip_ansi }}
```
{%- endblock traceback_line -%}

{%- block stream -%}
```output
{{ output.text.rstrip() }}
```
{%- endblock stream -%}

{%- block data_text scoped -%}
```output
{{ output.data['text/plain'].rstrip() }}
```
{%- endblock data_text -%}

{% block data_svg %}
[!image]({{output.key_svg}})
{% endblock data_svg %}

{% block data_png %}
[!image]({{output.key_png}})
{% endblock data_png %}

{% block data_jpg %}
[!image]({{output.key_jpg}})
{% endblock data_jpg %}